.sec-1-bg {
    background-image: url('sec-1-bg.jpg');
    height: 70vh;
    animation: 5s sec1bg infinite;
}

@keyframes sec1bg {
    33.3% {
        background-image: url('sec-1-bg2.jpg');
    }

    66.6% {
        background-image: url('sec-1-bg3.jpg');
    }

    100% {
        background-image: url('sec-1-bg4.jpg');
    }
}

.btn:hover {
    color: white;
    animation: .5s btn2 linear infinite;
    animation-direction: alternate;
}

@keyframes btn2 {
    33.3% {
        background-color: aqua;
    }

    66.6% {
        background-color: rgb(14, 144, 191);
    }

    100% {
       background-color: black;
    }
}

.triangle-container {
    position: relative;
    width: 300px;
    height: 200px;
}

.sec-5-iamge-hexagonal {
    position: absolute;
    top: -80px;
    left: -4px;
    width: 300px;
    z-index: 1;
}

.sec-5-image-1 {
    width: 320px;
}

.triangle-container-img1 {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.triangle-container-img2 {
    transform: rotate(90deg);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

}

.triangle-container-img3 {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotate(90deg);
}

.triangle-container-img4 {
    transform: rotate(270deg);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.btn2:hover {
    color: white;
    animation: .8s btn3 linear infinite;
    animation-direction: alternate;
}

@keyframes btn3 {
    25% {
        background-color: aqua;
    }

    50% {
        background-color: rgb(14, 144, 191);
    }

    75% {
        background-color: rgb(37, 214, 37);
    }

    100% {
       background-color: black;
    }
}

.hover-overlay {
    position: relative;
}
.hover-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: yellow;
    opacity: 0;
    transition: opacity 0.3s;
}
.hover-overlay:hover::before {
    opacity: 0.5;
}
.overlay-text {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}
.overlay-text:hover {
    animation: text 3s linear infinite;
}
.hover-overlay:hover .overlay-text {
    opacity: 1;
}

@keyframes text {
    from{
        top: 10%;
    }
    to{
        top: 100%;
    }
}

.overlay {
    background-color: rgba(255, 251, 0, 0.632); /* yellow with 50% opacity */
}

.btn10{
    z-index: 1;
    background-color: black;
    color: white;
    transition: all .3s linear;
}

.btn10:hover{
    border: 2px solid black;
    background-color: white;
    color: black;
}